.container {
  --landmark-padding: 30px;
  --landmark-logo-width: 120px;
  --ribbon-width: 40px;
  --ribbon-offset-left: calc(
    var(--landmark-padding) 
    + (var(--landmark-logo-width) / 2) 
    - (var(--ribbon-width) / 2)
  );

  clip-path: inset(-100vw -100vw 0 -100vw);
}

.landmarks {
  position: relative;
  padding: 2.5em 0;
  transform: translateY(50vh);
  transition: transform 2s cubic-bezier(.76,-0.08,.64,1.58);
}

.landmarks::before {
  position: absolute;
  left: var(--ribbon-offset-left);
  top: 0;
  content: '';
  height: 100%;
  width: var(--ribbon-width);
  z-index: -10;
  border-radius: 5px;
  background-color: var(--color-secondary);
}

.landmark {
  padding: var(--landmark-padding);
  margin-bottom: 3.5em;
  position: relative;
  display: grid;
  grid-template-columns: var(--landmark-logo-width) 1fr;
  column-gap: 50px;
}

.inViewport {
  transform: none;
}

.icon {
  position: absolute;
  left: var(--ribbon-offset-left);
  bottom: 100%;
  width: 2em;
  text-align: center;
}

.icon img {
  width: 65%;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-height: var(--landmark-logo-width);
}
