.about {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;
}

.about h1 {
  margin-bottom: 48px;
}

.about p {
  font-size: larger;
  max-width: 850px;
  margin: 8px auto;
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}
