.selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.option {
  width: 80px;
  height: 80px;
  padding: 6px;
  margin: 15px 10px;
}

.skill {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 170px 1fr;
  column-gap: 50px;
  height: 0px;
  visibility: hidden;
  transform: scale(0.7) translateZ(0);
  transition: transform 0.6s, filter 0.5s ease-in;
  filter: blur(4px);
}

.skill.selected {
  padding: 25px 50px;
  height: auto;
  visibility: visible;
  transform: none;
  filter: none;
}

.skill img {
  margin: auto;
}

.skill p {
  margin-bottom: 0.5em;
}

.verticalAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  text-align: center;
}
